<div class="content-box">

  <h1>Tietoa Kommentointikierroksesta</h1>

  <p>
    Yhteentoimivuusalustan Kommentit-palvelussa voi laatia kommentointikierroksia Sanastot-, Koodistot- ja Tietomallit-työkalujen tietosisällöistä. Lisäksi palvelun kautta voi kommentoida kommentointikierrokselle lähetettyjä tietosisältöjä sekä lukea muiden antamia kommentteja.
  </p>

  <h2>Katso myös</h2>
  <ul>
    <li>
      <a id="interoperability_site_link" rel="noopener noreferer" href="https://yhteentoimiva.suomi.fi" target="_blank">yhteentoimiva.suomi.fi</a>
    </li>
    <li>
      <a id="documentation_link" rel="noopener noreferer" href="https://vrk-ewiki.eden.csc.fi/display/YTIJD/Yhteentoimivuusalustan+julkinen+dokumentaatio" target="_blank">
        YTI-hankkeen dokumentaatio Confluencessa
      </a>
    </li>
    <li>
      VM:n
      <a id="vm_yti_link" rel="noopener noreferer" href="http://vm.fi/yhteinen-tiedon-hallinta" target="_blank">
        yhteinen tiedon hallinta (YTI) -hankkeen sivut
      </a>
    </li>
   </ul>

   <h2>Ota yhteyttä</h2>
   <p>Sähköpostilla osoitteeseen yhteentoimivuus[at]vrk.fi</p>
</div>
