<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <app-back-button [id]="'commentthread_create_back_button'" (back)="back()"></app-back-button>

  <div class="row">
    <div class="col-12">
      <h1 class="float-left" translate>Create comment thread</h1>
      <app-content-language></app-content-language>
    </div>
  </div>

  <form [formGroup]="commentThreadForm" #form="ngForm">
    <div class="row">
      <div class="col-12">
        <app-editable-buttons [form]="form"></app-editable-buttons>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10">
        <div class="form-group">
          <app-error-messages id="commentthread_form_error_messages" [control]="commentThreadForm"></app-error-messages>
        </div>

        <app-literal [id]="'commentround_name'"
                     [label]="'Round name' | translate"
                     [value]="commentRound.label"></app-literal>

        <app-localizable-literal *ngIf="!allowInput"
                                 [id]="'commentthread_label_input'"
                                 [label]="'Resource name' | translate"
                                 [infoText]="'INFO_TEXT_COMMENTTHREAD_NAME'"
                                 [value]="getLabel"></app-localizable-literal>

        <app-localizable-input *ngIf="allowInput"
                               [id]="'commentthread_label_input'"
                               [label]="'Resource name' | translate"
                               [required]="true"
                               [infoText]="'INFO_TEXT_COMMENTTHREAD_NAME'"
                               [formControlName]="'label'"></app-localizable-input>

        <app-localizable-textarea *ngIf="!allowInput"
                                  [id]="'commentthread_description_input'"
                                  [label]="'Resource description' | translate"
                                  [required]="true"
                                  [infoText]="'INFO_TEXT_COMMENTTHREAD_DESCRIPTION'"
                                  [formControlName]="'description'"></app-localizable-textarea>

        <app-localizable-textarea-input *ngIf="allowInput"
                                        [id]="'commentthread_description_input'"
                                        [label]="'Resource description' | translate"
                                        [required]="true"
                                        [infoText]="'INFO_TEXT_COMMENTTHREAD_DESCRIPTION'"
                                        [formControlName]="'description'"></app-localizable-textarea-input>

        <app-clipboard *ngIf="hasResource"
                       [id]="'integration_resource_containeruri'"
                       [label]="'Resource URI' | translate"
                       [value]="getResourceUri"
                       [showAsLink]="false"
                       [infoText]="'INFO_TEXT_COMMENTTHREAD_INTEGRATION_RESOURCEURI'"></app-clipboard>

        <app-source-input id="integration_resource_input"
                          [label]="'Resource' | translate"
                          [required]="!commentRound.openThreads"
                          [containerUri]="containerUri"
                          [infoText]="'INFO_TEXT_COMMENTTHREAD_INTEGRATION_RESOURCE'"
                          [formControlName]="'resource'"></app-source-input>

        <app-literal-textarea [id]="'commentthread_proposedtext_input'"
                              [label]="'Proposed action' | translate"
                              [infoText]="'INFO_TEXT_COMMENTTHREAD_PROPOSEDTEXT'"
                              [formControlName]="'proposedText'"></app-literal-textarea>

        <app-current-status *ngIf="hasResource"
                            id="commentthread_currentstatus"
                            [label]="'Current status' | translate"
                            [infoText]="'INFO_TEXT_COMMENTTHREAD_CURRENTSTATUS'"
                            [status]="getResource.status"></app-current-status>

        <app-proposedstatus-input id="commentthread_proposedstatus_input"
                                  [infoText]="'INFO_TEXT_COMMENTTHREAD_PROPOSEDSTATUS'"
                                  [formControlName]="'proposedStatus'"></app-proposedstatus-input>
      </div>
    </div>
  </form>
</div>
