@import '../../../../node_modules/yti-common-ui/theme/variables';

.name {
  color: black;
  font-weight: bold;
}

.created {
  padding-left: 10px;
  color: $gray-600;
}

.proposedStatus {
  color: $gray-600;
}

.content {
  font-size: 16px;
  color: black;
}

.input {
  padding: 0 20px 0 5px;
}

.comment {
  padding: 10px;
}

.actions {
  cursor: pointer;
  padding-left: 20px;
  color: $blue;

  &:hover {
    text-decoration: underline;
  }
}
