<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <div class="main">
    <div>
      <h1 class="text-content-wrap">{{ comment.content }}</h1>
    </div>

    <div class="float-right">
      <app-editable-buttons [form]="form"></app-editable-buttons>

      <div *ngIf="canCreateComment()" class="ml-3 float-right d-inline-block">
        <button id="create_comment_button"
                type="button"
                class="btn btn-action float-right"
                (click)="createNewComment()">
          <span translate>Add comment</span>
        </button>
      </div>
    </div>
  </div>

  <form [formGroup]="commentForm" #form="ngForm">
    <div class="row">
      <div class="col-lg-8 col-md-10">
        <div class="form-group">
          <app-error-messages id="commentthread_form_error_messages" [control]="commentForm"></app-error-messages>
        </div>

        <app-literal id="comment_user_name"
                     [label]="'Commenter' | translate"
                     [infoText]="'INFO_TEXT_COMMENT_USER'"
                     [value]="comment.user.getDisplayName()"></app-literal>

        <app-literal [id]="'commentround_name'"
                     [label]="'Round name' | translate"
                     [infoText]="'INFO_TEXT_COMMENT_COMMENTROUND_NAME'"
                     [value]="comment.commentThread.commentRound.label"></app-literal>

        <app-literal-multilanguage [id]="'commentthread_name'"
                                   [label]="'Thread resource name' | translate"
                                   [infoText]="'INFO_TEXT_COMMENT_COMMENTTHREAD_NAME'"
                                   [value]="comment.commentThread.label"></app-literal-multilanguage>

        <app-inline-clipboard *ngIf="comment.commentThread.resourceUri"
                       [id]="'commentthread_resourceuri'"
                       [label]="'Thread resource URI' | translate"
                       [value]="resourceUri"
                       [showAsLink]="false"
                       [infoText]="'INFO_TEXT_COMMENT_COMMENTTHREAD_RESOURCEURI'"></app-inline-clipboard>

        <app-literal-textarea [id]="'comment_content_input'"
                              [label]="'Comment' | translate"
                              [required]="true"
                              [infoText]="'INFO_TEXT_COMMENT_CONTENT'"
                              [formControlName]="'content'"></app-literal-textarea>

        <app-proposedstatus-input id="comment_proposedstatus_input"
                                  [infoText]="'INFO_TEXT_COMMENT_PROPOSEDSTATUS'"
                                  [formControlName]="'proposedStatus'"></app-proposedstatus-input>

        <app-comment-input id="parent_comment_input"
                           [label]="'Parent comment' | translate"
                           [commentRound]="comment.commentThread.commentRound"
                           [commentThread]="comment.commentThread"
                           [infoText]="'INFO_TEXT_COMMENT_PARENT_COMMENT'"
                           [formControlName]="'parentComment'"></app-comment-input>

        <app-literal [label]="'Created' | translate"
                     [value]="comment.createdDisplayValue"
                     [infoText]="'INFO_TEXT_COMMENT_CREATED'"></app-literal>
      </div>
    </div>
  </form>
</div>
