<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <app-back-button [id]="'comment_create_back_button'" (back)="back()"></app-back-button>

  <div class="row">
    <div class="col-md-12">
      <h1 class="float-left" translate>Create comment</h1>
      <app-editable-buttons [form]="form"></app-editable-buttons>
      <app-content-language></app-content-language>
    </div>
  </div>

  <div class="row">
    <div class="col-md-11">
      <form [formGroup]="commentForm" #form="ngForm">
        <div class="form-group">
          <app-error-messages id="commentthread_form_error_messages" [control]="commentForm"></app-error-messages>
        </div>

        <app-literal [id]="'commentround_name'"
                     [label]="'Round name' | translate"
                     [value]="commentRound.label"></app-literal>

        <app-literal [id]="'commentthread_name'"
                     [label]="'Comment thread name' | translate"
                     [value]="commentThread.label | translateValue"></app-literal>

        <app-clipboard [id]="'commentthread_resourceuri'"
                       [label]="'Comment thread resource URI' | translate"
                       [value]="commentThread.resourceUri"
                       [showAsLink]="false"
                       [infoText]="'INFO_TEXT_COMMENT_COMMENTTHREAD_RESOURCEURI'"></app-clipboard>

        <app-literal-textarea [id]="'comment_content_input'"
                              [label]="'Comment' | translate"
                              [required]="true"
                              [infoText]="'INFO_TEXT_COMMENT_CONTENT'"
                              [formControlName]="'content'"></app-literal-textarea>

        <app-proposedstatus-input id="comment_proposedstatus_input"
                                  [infoText]="'INFO_TEXT_COMMENT_PROPOSEDSTATUS'"
                                  [formControlName]="'proposedStatus'"></app-proposedstatus-input>

        <app-comment-input id="parent_comment_input"
                           [label]="'Parent comment' | translate"
                           [commentRound]="commentRound"
                           [commentThread]="commentThread"
                           [infoText]="'INFO_TEXT_COMMENT_PARENT_COMMENT'"
                           [formControlName]="'parentComment'"></app-comment-input>
      </form>
    </div>
  </div>
</div>
