@import '../../../../node_modules/yti-common-ui/theme/variables';

.status {
  border-radius: 3px;
  font-size: medium;
  margin-right: -20px;
}

.title {
  width: calc(100% - 200px);
  display: block;
}

.name {
  color: $blue-link;
  font-family: $font-family-sans-semibold;
  font-size: large;
  font-weight: 400;
  width: calc(100% - 200px);
  display: block;
}
