<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <app-back-button [id]="'commentround_create_back_button'" (back)="back()"></app-back-button>

  <div class="main vcenter">
    <h1 class="text-content-wrap d-inline-block">{{ commentRound.label }}</h1>
    <app-commentround-status class="d-inline-block ml-5 vcenter" [status]="commentRound.status"></app-commentround-status>
  </div>

  <div class="row">
    <div class="col-12">
      <app-editable-buttons [form]="form"
                            [entity]="commentRound"></app-editable-buttons>

      <div *ngIf="canStartCommenting" class="ml-3 float-right d-inline-block">
        <button id="start_commentround_button"
                type="button"
                class="btn btn-secondary-action float-right"
                (click)="startCommentRound()">
          <span translate>Start comment round</span>
        </button>
      </div>

      <div *ngIf="canEndCommenting" class="ml-3 float-right d-inline-block">
        <button id="end_commentround_button"
                type="button"
                class="btn btn-secondary-action float-right"
                (click)="closeCommentRound()">
          <span translate>Close comment round</span>
        </button>
      </div>

      <div *ngIf="canComment && commenting" class="ml-3 float-right d-inline-block">
        <button id="cancel_commenting_button"
                type="button"
                class="btn btn-link float-right"
                (click)="endCommenting()">
          <span translate>Cancel</span>
        </button>
      </div>

      <div *ngIf="canComment && !commenting" class="ml-3 float-right d-inline-block">
        <button id="start_commenting_button"
                type="button"
                class="btn btn-action float-right"
                (click)="startCommenting()">
          <span translate>Comment to round</span>
        </button>
      </div>

      <div *ngIf="canComment && commenting" class="ml-3 float-right d-inline-block">
        <button id="send_comments_button"
                type="button"
                class="btn btn-action float-right"
                [disabled]="commentRoundForm.invalid"
                (click)="sendCommentsAndAddResources()">
          <span translate>Send comments</span>
        </button>
      </div>

      <app-content-language></app-content-language>
    </div>
  </div>

  <form [formGroup]="commentRoundForm" #form="ngForm">

    <app-literal id="commentround_user_name"
                 [label]="'Editor' | translate"
                 [infoText]="'INFO_TEXT_COMMENTROUND_USER'"
                 [value]="commentRound.user.getDisplayName()"></app-literal>

    <div class="row">
      <app-literal-input class="col-md-4"
                         [id]="'commentround_name_input'"
                         [label]="'Round name' | translate"
                         [required]="true"
                         [infoText]="'INFO_TEXT_COMMENTROUND_NAME'"
                         [formControlName]="'label'"></app-literal-input>

      <app-literal class="col-md-2"
                   [id]="'commentround_container_type'"
                   [label]="'Tool' | translate"
                   [infoText]="'INFO_TEXT_COMMENTROUND_NAME'"
                   [value]="toolType | translate"></app-literal>

      <app-date-range-input class="col-md-6"
                            id="commentround_validity_input"
                            [showLabel]="false"
                            [label]="'Commenting period' | translate"
                            [infoText]="'INFO_TEXT_COMMENTROUND_VALIDITY'"
                            [formControlName]="'validity'"></app-date-range-input>
    </div>

    <app-literal-textarea [id]="'commentround_description_input'"
                          [label]="'Description' | translate"
                          [required]="true"
                          [infoText]="'INFO_TEXT_COMMENTROUND_DESCRIPTION'"
                          [formControlName]="'description'"></app-literal-textarea>

    <div class="row main">
      <app-literal class="col-md-6"
                   id="integration_resource_input"
                   [label]="'Source' | translate"
                   [value]="commentRound.sourceLabel | translateValue"
                   [infoText]="'INFO_TEXT_COMMENTROUND_INTEGRATION_RESOURCE'"></app-literal>

      <app-boolean-input class="col-md-3 bottom"
                         [id]="'commentround_fixedthreads_textarea'"
                         [label]="'Only selected resources' | translate"
                         [infoText]="'INFO_TEXT_COMMENTROUND_FIXED_THREADS'"
                         [formControlName]="'fixedThreads'"></app-boolean-input>

      <app-boolean-input class="col-md-3 bottom"
                         [id]="'commentround_openthreads_input'"
                         [label]="'Allow new comment threads' | translate"
                         [infoText]="'INFO_TEXT_COMMENTROUND_OPEN_THREADS'"
                         [formControlName]="'openThreads'"></app-boolean-input>
    </div>

    <app-clipboard *ngIf="getResourceUri"
                   [id]="'integration_resource_containeruri'"
                   [label]="'Source URI' | translate"
                   [value]="getResourceUri"
                   [showAsLink]="false"
                   [infoText]="'INFO_TEXT_INTEGRATION_RESOURCEURI'"></app-clipboard>

    <div class="row">
      <app-organizations-input class="col-md-4"
                               id="commentround_organizations_input"
                               [label]="'Organization' | translate"
                               [required]="true"
                               [infoText]="'INFO_TEXT_COMMENTROUND_ORGANIZATION'"
                               [formControlName]="'organizations'"></app-organizations-input>

      <app-comment-round-status-input class="col-md-2"
                                      id="commentround_status_input"
                                      [infoText]="'INFO_TEXT_COMMENTROUND_STATUS'"
                                      [formControlName]="'status'"></app-comment-round-status-input>

      <app-literal class="col-md-3"
                   [label]="'Created' | translate"
                   [value]="commentRound.createdDisplayValue"
                   [infoText]="'INFO_TEXT_COMMENTROUND_CREATED'"></app-literal>

      <app-literal class="col-md-3"
                   [label]="'Last modification' | translate"
                   [value]="commentRound.modifiedDisplayValue"
                   [infoText]="'INFO_TEXT_COMMENTROUND_LAST_MODIFICATION'"></app-literal>
    </div>

    <div class="row pt-4">
      <h4 class="strong d-inline-block col-md-10" translate>Resources for commenting</h4>

      <div *ngIf="canCreateCommentThread" class="col-md-2 float-right d-inline-block">
        <button id="create_commentround_button"
                type="button"
                class="btn btn-action float-right"
                (click)="addCommentThreadToCommentRound()">
          <span translate>Add new resource</span>
        </button>
      </div>
    </div>

    <!-- TODO: Refactor the comment thread table logic to a separate isolated component -->

    <span *ngIf="!hasCommentThreads" translate>There are no resources to comment.</span>

    <div formArrayName="commentThreads">
      <table *ngIf="isEditor && hasCommentThreads" class="table table-borderless" width="100%">
        <thead>
        <tr>
          <th style="width: 15%" translate>Resource</th>
          <th style="width: 15%" translate>Description</th>
          <th style="width: 15%" translate>Current status</th>
          <th style="width: 15%" translate>Proposed status</th>
          <th style="width: 20%" translate>Editors comment</th>
          <th style="width: 5%" translate>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let commentThread of commentThreadForms.controls; let i = index" [formGroupName]="i">
          <td style="width: 15%">
            <a *ngIf="commentThread.value.label && commentThread.value.resourceUri"
               [href]="commentThread.value.resourceUri"
               target="_blank">{{ commentThread.value.label | translateValue }}</a>
            <span *ngIf="!commentThread.value.resourceUri">-</span>
          </td>
          <td style="width: 15%;">
            <span class="wrap" *ngIf="!languageService.isLocalizableEmpty(commentThread.value.description)">{{ commentThread.value.description | translateValue }}</span>
            <span *ngIf="languageService.isLocalizableEmpty(commentThread.value.description)">-</span>
          </td>
          <td style="width: 10%">
            <span translate>{{ commentThread.value.currentStatus ? commentThread.value.currentStatus : '-' }}</span>
          </td>
          <td style="width: 15%">
            <app-proposed-status-table-dropdown [restrict]="commentRound.status === 'INPROGRESS' && isNewResource(commentThread.value.id)"
                                                [formControlName]="'proposedStatus'"></app-proposed-status-table-dropdown>
          </td>
          <td style="width: 20%">
            <app-literal-input [required]="true"
                               [restrict]="commentRound.status === 'INPROGRESS' && isNewResource(commentThread.value.id)"
                               [formControlName]="'proposedText'"></app-literal-input>
          </td>
          <td>
            <button *ngIf="!isNewResource(commentThread.value.id)"
                    [id]="'view_commentthread_' + i + '_button'"
                    type="button"
                    class="icon icon-pencil"
                    (click)="viewCommentThread(commentThread.value)"></button>
            <button *ngIf="editing && (commentRound.status === 'AWAIT' || isNewResource(commentThread.value.id))"
                    [id]="'remove_commentthread_' + i + '_button'"
                    type="button"
                    class="icon icon-trash"
                    (click)="removeCommentThread(i)"></button>
          </td>
        </tr>
        </tbody>
      </table>

      <table *ngIf="!isEditor && hasCommentThreads" class="table table-borderless" width="100%">
        <thead>
        <tr>
          <th style="width: 15%" translate>Resource</th>
          <th style="width: 15%" translate>Current status</th>
          <th style="width: 15%" translate>Proposed status</th>
          <th style="width: 15%" translate>Editors comment</th>
          <th style="width: 15%" translate>{{ commenting ? 'Propose status' : 'Commenters proposal for status' }}</th>
          <th style="width: 20%" translate>{{ commenting ? 'Your comment' : 'Commenters comment' }}</th>
          <th style="width: 5%" translate>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let commentThread of commentThreadForms.controls; let i = index;" [formGroupName]="i">
          <td style="width: 15%">
            <a *ngIf="commentThread.value.resourceUri"
               [href]="commentThread.value.resourceUri"
               target="_blank">{{ commentThread.value.label | translateValue }}</a>
            <span *ngIf="!commentThread.value.resourceUri">-</span>
          </td>
          <td style="width: 15%">
            <span translate>{{ commentThread.value.currentStatus ? commentThread.value.currentStatus : 'NOSTATUS' }}</span>
          </td>
          <td style="width: 15%">
            <span translate>{{ commentThread.value.proposedStatus ? commentThread.value.proposedStatus : 'NOSTATUS' }}</span>
          </td>
          <td style="width: 15%">
            <span>{{ commentThread.value.proposedText ? commentThread.value.proposedText : '-'}}</span>
          </td>
          <td style="width: 20%">
            <app-proposed-status-table-dropdown [isEditing]="commenting"
                                                [formControlName]="'commentersProposedStatus'"></app-proposed-status-table-dropdown>
          </td>
          <td style="width: 20%">
            <app-literal-input [isEditing]="commenting"
                               [required]="true"
                               [formControlName]="'commentersProposedText'"></app-literal-input>
          </td>
          <td style="width: 5%">
            <button *ngIf="!isNewResource(commentThread.value.id)"
                    [id]="'view_commentthread_' + i + '_button'"
                    type="button"
                    class="icon icon-pencil"
                    (click)="viewCommentThread(commentThread.value)"></button>
            <button *ngIf="editing && ((commentRound.status === 'INPROGRESS' && !commentRound.fixedThreads) && isNewResource(commentThread.value.id))"
                    [id]="'remove_commentthread_' + i + '_button'"
                    type="button"
                    class="icon icon-trash"
                    (click)="removeCommentThread(i)"></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
