@import '../../../../node_modules/yti-common-ui/theme/variables';

:host /deep/ .comments {
  padding: 10px 15px 10px 40px;
  border: 1px;
  border-style: solid;
  border-color: $gray-400;

  .collapseIcon {
    width: 20px;
    padding-top: 25px;
  }

  ul {
    padding-left: 10px;

    li {
      list-style: none;

      i {
        cursor: pointer;
        margin-left: -10px;
        font-size: 14px;
      }
    }

    li.child-comment {
      padding-left: 15px;
    }
  }
}

table {
  border: 0;
  border-style: none;
  width: 100%;

  thead {
    font-style: normal;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px;
    border-left: 0;
    border-style: solid;
    border-color: $gray-400;
  }

  th {
    color: $gray-600;
  }

  td {
    padding-top: 15px;
    vertical-align: top;
  }

  @media only screen and (max-width: 1280px) {
    .description {
      display: none;
    }
  }
}

.comment-icons {
  a {
    font-weight: 600;
    cursor: pointer;
  }
}

.comment-count {
  font-weight: normal;
  cursor: pointer;
  padding-top: 7px;
  color: $blue;
}

.icon-blue {
  color: $blue;
}

.action-button {
  float: right;
  padding-left: 10px;
}

.sort-content-active {
  color: $blue;
}

.sort-content {
  cursor: pointer;
}

.wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  display: inline-block;
}
