<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <app-back-button [id]="'commentround_create_back_button'" (back)="back()"></app-back-button>

  <div class="row">
    <div class="col-12">
      <h1 class="float-left" translate>Create comment round</h1>
      <app-content-language></app-content-language>
    </div>
  </div>

  <form [formGroup]="commentRoundForm" #form="ngForm">

    <div class="row">
      <div class="col-12">
        <app-editable-buttons [form]="form"></app-editable-buttons>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10">
        <div class="form-group">
          <app-error-messages id="commentround_form_error_messages" [control]="commentRoundForm"></app-error-messages>
        </div>

        <app-literal-input [id]="'commentround_name_input'"
                           [label]="'Comment round name' | translate"
                           [required]="true"
                           [infoText]="'INFO_TEXT_COMMENTROUND_NAME'"
                           [formControlName]="'label'"></app-literal-input>

        <app-literal-textarea [id]="'commentround_description_input'"
                              [label]="'Description' | translate"
                              [required]="true"
                              [infoText]="'INFO_TEXT_COMMENTROUND_DESCRIPTION'"
                              [formControlName]="'description'"></app-literal-textarea>

        <app-organizations-input id="commentround_organizations_input"
                                 [label]="'Organization' | translate"
                                 [required]="true"
                                 [infoText]="'INFO_TEXT_COMMENTROUND_ORGANIZATION'"
                                 [formControlName]="'organizations'"></app-organizations-input>

        <app-literal id="integration_resource_containeruri"
                     [label]="'Source URI' | translate"
                     [infoText]="'INFO_TEXT_COMMENTROUND_INTEGRATION_RESOURCEURI'"
                     [value]="getResourceUri"></app-literal>

        <app-source-input id="integration_resource_input"
                          [label]="'Source' | translate"
                          [required]="true"
                          [infoText]="'INFO_TEXT_COMMENTROUND_INTEGRATION_RESOURCE'"
                          [formControlName]="'resource'"></app-source-input>

        <app-boolean-input [id]="'commentround_fixedthreads_textarea'"
                           [label]="'Only selected resources' | translate"
                           [infoText]="'INFO_TEXT_COMMENTROUND_FIXED_THREADS'"
                           [formControlName]="'fixedThreads'"></app-boolean-input>

        <app-boolean-input [id]="'commentround_openthreads_input'"
                           [label]="'Allow new comment threads' | translate"
                           [infoText]="'INFO_TEXT_COMMENTROUND_OPEN_THREADS'"
                           [formControlName]="'openThreads'"></app-boolean-input>

        <app-comment-round-status-input id="commentround_status_input"
                                        [infoText]="'INFO_TEXT_COMMENTROUND_STATUS'"
                                        [formControlName]="'status'"></app-comment-round-status-input>

        <app-date-range-input id="commentround_validity_input"
                              [label]="'Validity' | translate"
                              [infoText]="'INFO_TEXT_COMMENTROUND_VALIDITY'"
                              [formControlName]="'validity'"></app-date-range-input>
      </div>
    </div>

  </form>
</div>
