.checkbox {
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

label {
  font-weight: normal;
}
