@import '../../../../node_modules/yti-common-ui/theme/variables';

.search-results {
  height: 100%;
}

.title {
  width: calc(100% - 200px);
  display: block;
}

.status {
  float: right;
  clear: right;
}

.description-container {
  margin-bottom: 0.3em;
}

.infoText {
  margin: 10px;
  display: block;
}

.resource-result {
  overflow-y: auto;
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: 1px solid $gray;

  &.last {
    border-bottom: 1px solid #ffffff00;
  }

  .title {
    display: block;
    color: $primary;
    font-size: $font-size-base;
    width: 100%;
    padding-bottom: 5px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .uri {
    display: block;
    color: $gray-600;
    font-size: $font-size-base;
    width: 100%;
    padding-bottom: 5px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .body {
    display: block;
    width: 100%;
    padding-bottom: 15px;
  }
}

div.flattened {
  box-sizing: border-box;
  height: 1px;
  margin: 0 10px;
  border-bottom: 1px solid $gray;
}
