@import '../../../../node_modules/yti-common-ui/theme/variables';

.infoText {
  margin: 10px;
  display: block;
}

virtual-scroller {
  width: 100%;
  height: 100%;
}

app-integration-resource-list-item {
  display: block;
  width: 100%;
}
