@import '../../../../node_modules/yti-common-ui/theme/variables';

.input-group-search {
  width: 300px;
}

.content-box {
  height: 100%;
  padding: 0;
  margin: 0;
}

.search-results {
  height: 100%;
}

.modal-body.full-height {
  .row.full-height {
    height: calc(100% - 140px);
  }
}

app-filter-dropdown {
  padding-left: 10px;
}

.filter-info {
  padding-bottom: 4px;
}

.title {
  width: calc(100% - 200px);
  display: block;
}

.status {
  float: right;
  clear: right;
}

.description-container {
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.infoText {
  margin: 10px;
  display: block;
}
