@import '../../../../node_modules/yti-common-ui/theme/variables';

.input-group-search {
  width: 300px;
}

.content-box {
  height: 100%;
  padding: 0;
  margin: 0;
}

.search-results {
  height: 100%;
}

.modal-sections {
  display: flex;
  flex-direction: column;
  height: 100%;

  .modal-section-rigid {
    flex: 0 0 auto;
  }

  .modal-section-flexible {
    flex: 1 1 auto;
    min-height: 200px;
  }
}

app-filter-dropdown {
  padding-left: 10px;
}

.filter-info {
  padding-bottom: 4px;
}

.title {
  width: calc(100% - 200px);
  display: block;
}

.status {
  float: right;
  clear: right;
}

.description-container {
  margin-bottom: 0.3em;
}

.infoText {
  margin: 10px;
  display: block;
}

.multi-input {
  padding: 0;
  display: inline-block;
  max-height: 6em;
  margin-bottom: -5px;
  overflow-x: hidden;
  overflow-y: auto;

  .added-item {

    display: inline-block;
    float: left;

    .box {
      padding: 5px 4px;
      margin: 5px 0 0 5px;
      line-height: 12px;
      font-size: 12px;
      background-color: $light;
      border-radius: 2px;
      border: 1px solid $gray;
      display: inline-block;
      float: left;

      .delete-item {
        cursor: pointer;
      }
    }
  }

}
