@import '../../../../node_modules/yti-common-ui/theme/variables';

.input-group-search {
  width: 300px;
}

.content-box {
  height: 100%;
  padding: 0;
  margin: 0;
}

.search-results {
  height: 100%;
}

.modal-body.full-height {
  .row.full-height {
    height: calc(100% - 140px);
  }
}

app-filter-dropdown {
  padding-left: 10px;
}

.filter-info {
  padding-bottom: 4px;
}

.title {
  width: calc(100% - 200px);
  display: block;
}

.status {
  float: right;
  clear: right;
}

.description-container {
  position: relative;
  width: calc(100% - 200px);
  line-height: 1.5em;
  max-height: 4em;
  overflow: hidden;

  .description {
    display: block;
    position: relative;
    margin-top: 1em;
    margin-bottom: 0.3em;
    z-index: 1;

    &:empty {
      display: none;
    }
  }

  .limiter-container {
    position: absolute;
    top: 0;
    bottom: 0;
    min-height: 4em;
    width: 100%;
  }

  .description-limiter {
    z-index: 2;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0));
    position: absolute;
    height: 1.5em;
    width: 100%;
    top: 3em;
    text-align: center;
    cursor: pointer;
  }

  &.expand {
    max-height: fit-content;

    .description-limiter {
      top: auto;
      width: 2em;
      height: 3px;
      bottom: 0;
      left: calc(50% - 1em);
      background: $black;
      border-radius: 2px;
    }
  }
}

.infoText {
  margin: 10px;
  display: block;
}
